################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Figures/.vs/Figures
/Figures/x64/Debug
/Figures/Figures/x64/Debug
/Figures/result
/FiguresApp/x64/Debug
/FiguresTests/x64/Debug
